# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
.logs/

# Cache
.cache/
.npm/
.nvm/

# Local files
.local/
.secrets/
.browser_data_dir/
.pki/
upload/
Downloads/

# Temp files
*.tmp
*.temp
sandbox.txt
